.watch{
  height: 50%;
  width: 60vw;
  /* position: absolute; */
  background: #3C97FF;
  border-radius:20px ;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  font-size: 60px;
  color: white;
}